<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>회원가입</title>
</head>
<body>
<h1 layout:fragment="header">회원가입</h1>
<div layout:fragment="content" class="container">
    <div class="container">
        <form class="form-horizontal" id="userForm" th:action="@{/member/register}" method="post">
            <div class="control-group">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input id="email" type="text" name="email" placeholder="Email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input id="inputPassword" type="password" name="password" placeholder="Password" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="name">Name</label>
                <div class="controls">
                    <input id="name" type="text" name="name" placeholder="name"/>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">회원가입</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function() {

        });
    </script>
</th:block>
</html>